<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div>
          <h1>User info</h1>
          <table class="table table-striped">
            <div>
              <p>name</p>
              <p><%= current_user.name %></p>
            </div>
            <div>
              <p>introduction</p>
              <p>sanmple</p>
            </div>
          </table>

        </div>
        <div>
          <h1>New book</h1>
          <%= form_with model: @book do |f| %>
            <h4>Title</h4>
            <%= f.text_field :title %>
            <h4>Opinion</h4>
            <%= f.text_area :body %><br>
            <div class="books_index_btn">
              <%= f.submit 'Create Book' %>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <div>
          <h1>Books</h1>
        </div>
        <% @books.each do |book| %>
        <div class="col-lg-8">
          <table class="table table-striped">
            <div>
              <%= link_to book_path(book.id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %><br>
                <%= book.user.name %>
              <% end %>
            </div>
            <div>
              <div><%= book.title %></div>
              <div><%= book.body %></div>
              <% if @book.user == current_user %>
                <div><%= link_to "Edit" %></div>
                <div><%= link_to "Destroy", book_path(@book), method: :delete %></div>
              <% end %>
            </div>
              <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>