<div>
  <h1>Book detail</h1>
</div>
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>
        <%= image_tag @book.user.get_profile_image(100,100) %><br>
      </th>
      <th><%= link_to @book.title, "" %></th>
      <th><%= @book.body %></th>
      <% if @book.user == current_user %>
        <th>
          <%= link_to "Edit" %>
        </th>
        <th>
          <%= link_to "Destroy", book_path(@book), method: :delete %>
        </th>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>