<div>
  <h1>Book detail</h1>
</div>
<table class="table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>
        <%= image_tag @book.user.get_profile_image(100,100) %><br>
        <%= link_to user_path do %>
          <%= @book.user.name %>
        <% end %>
      </th>
      <div>
        <th><%= link_to @book.title, "" %></th>
        <th><%= @book.body %></th>
      </div>
      <% if @book.user == current_user %>
        <th>
          <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success text-white" %>
        </th>
        <th>
          <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger text-white" %>
        </th>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>